
<form [formGroup]="myForm" (submit)="formSubmit()" autocomplete="off">
    <div class="form-group" >
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-ad"></i>
                </div>
            </div>
            <input formControlName="projectCode" type="text" class="form-control" placeholder="Project Code" required  style="font-size:15px;">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-ad"></i>
                </div>
            </div>
            <input formControlName="userCode" type="text" class="form-control" placeholder="User Code" required style="font-size:15px;">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-ad"></i>
                </div>
            </div>
            <input formControlName="title" type="text" class="form-control" placeholder="Title" required style="font-size:15px;">
        </div>
    </div>
    <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-ad"></i>
                    </div>
                </div>
                <input formControlName="description" type="text" class="form-control" placeholder="Description" required style="font-size:15px;">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-ad"></i>
                    </div>
                </div>
                <input formControlName="startDate" type="text" class="form-control" placeholder="Start Date" required style="font-size:15px;">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-ad"></i>
                    </div>
                </div>
                <input formControlName="packageCode" type="text" class="form-control" placeholder="Package Code" required style="font-size:15px;">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-ad"></i>
                    </div>
                </div>
                <input formControlName="numberOfRequestedPackages" type="text" class="form-control" placeholder="Number Of Requested Packages" required style="font-size:15px;">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-ad"></i>
                    </div>
                </div>
                <input formControlName="totalAskingFunds" type="text" class="form-control" placeholder="Total Asking Funds" required style="font-size:15px;">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-ad"></i>
                    </div>
                </div>
                <input formControlName="totalReceivingFunds" type="text" class="form-control" placeholder="Total Receiving Funds" required style="font-size:15px;">
            </div>
        </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i> Submit </button>
    </div>
</form>
