
<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off" >
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-ad"></i>
                </div>
            </div>
            <input formControlName="Username" type="text" class="form-control" placeholder="Username" required>
        </div>
    </div>
    <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text bg-white">
                        <i class="fas fa-ad"></i>
                    </div>
                </div>
                <input formControlName="Password" type="password" class="form-control" placeholder="Password" required>
            </div>
        </div>
      
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i> Logout </button>
    </div>
</form>
