<form [formGroup]="myForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-ad"></i>
                </div>
            </div>
            <input formControlName="year" type="text" class="form-control" placeholder="Year" required style="font-size:15px;">
        </div>
    </div>

    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block" type="submit"><i class="fas fa-database"></i> Search </button>


    </div>
</form>
<div>
    <ul>
        <li *ngFor="let project of projects" style="font-size:15px;">
            Title : {{project.title}}
        <br>
            ProjectCode : {{project.projectCode}}
        <br>
            Description : {{project.description}}
             
         </li>
     </ul>
</div>
